#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'

#Root password
rootpw --iscrypted $default_password_crypted# System timezone
timezone Asia/Shanghai
# System language
lang zh_CN
# Firewall configuration
firewall --enabled --ssh
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use network installation
url --url=$tree
# Use text install
text
firstboot --disable
# SELinux configuration
selinux --disable

# System bootloader configuration
bootloader --location=mbr  --password="12345678"
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

# Allow anaconda to partition the system as needed
autopart

$yum_repo_stanza
# Network information
$SNIPPET('network_config')
# Reboot after installation
reboot

%pre
$SNIPPET('log_ks_pre')
$SNIPPET('kickstart_start')
#$SNIPPET('pre_install_network_config')
# Enable installation monitoring
$SNIPPET('pre_anamon')
%end

%packages
$SNIPPET('func_install_if_enabled')
%end


%post --nochroot
$SNIPPET('log_ks_post_nochroot')
%end

%post
$SNIPPET('log_ks_post')
# Start yum configuration
$yum_config_stanza
# End yum configuration
$SNIPPET('post_install_kernel_options')
$SNIPPET('post_install_network_config')
$SNIPPET('func_register_if_enabled')
$SNIPPET('puppet_register_if_enabled')
$SNIPPET('download_config_files')
$SNIPPET('koan_environment')
$SNIPPET('redhat_register')
$SNIPPET('cobbler_register')
# Enable post-install boot notification
$SNIPPET('post_anamon')
# Start final steps
$SNIPPET('kickstart_done')
# End final steps
%end
